# General
.cache
.DS_Store

# Play framework
logs
project/project
project/target
target
# dist --> allow dist for Heroku
tmp
.sbtserver
project/.sbtserver

# Eclipse
.settings
.classpath
.metadata
.project

