<div class="modal-header">
    <h1>Property Dialog</h1>
</div>
<div class="modal-body">
    <form name="propertyForm" ng-submit="propertyForm.$valid && saveProperty(propertyForm)" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-class="(propertyForm.attribute.$error.required) ? 'has-error has-feedback' : 'has-success has-feedback'">
                    <label class="control-label" for="attribute">Attribute</label>
                    <input class="form-control" type="text" placeholder="Attribute name..." name="attribute" title="attribute" id="attribute" ng-model="property.attribute" aria-describedby="attributeStatus" required autofocus></input>
                    <span class="glyphicon" ng-class="(propertyForm.attribute.$error.required) ? 'glyphicon-asterisk form-control-feedback' : 'glyphicon-ok form-control-feedback'" aria-hidden="true"></span>
                    <span id="attributeStatus" class="sr-only">{{(propertyForm.attribute.$error.required) ? '(error)' : '(ok)'}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <fieldset class="form-group">
                    <label for="keywords">Category</label>
                    <input class="form-control" placeholder="Category..." title="categorie" id="categorie" ng-model="property.categorie"></input>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset class="form-group">
                    <label for="keywords">Language</label>
                    <ui-select ng-model="property.language" theme="bootstrap" ng-disabled="disabled">
                        <ui-select-match placeholder="Select language in the list...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="language in ['en','de'] | filter: $select.search">
                            <span ng-bind-html="language | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <fieldset class="form-group">
                    <label for="keywords">Name</label>
                    <input class="form-control" placeholder="Name..." title="name" id="name" ng-model="property.name"></input>
                </fieldset>
            </div>
            <div class="col-md-4">
                 <fieldset class="form-group">
                    <label for="keywords">OrderIdx</label>
                    <input type="number" min="0" step="1" class="form-control" placeholder="Order Index..." title="orderidx" id="orderidx" ng-model="property.orderidx"></input>
                </fieldset>
            </div>
        </div>
        <fieldset class="form-group">
            <label for="description">Description (max. length 5000)</label>
            <text-angular ng-model="property.description" ta-max-text="5000"></text-angular>
        </fieldset>
        <fieldset class="form-group">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" ng-disabled="propertyForm.$invalid">Save Property</button>
                <a class="btn btn-warning" ng-click="cancel(propertyForm);">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>