body {
    padding-top: 20px;
    height: 100%;
}

#wrapper {
    min-height: 100%;
	position: relative;
}

#content {
    margin-bottom: 140px; /* Height of the footer element */
}

#footer {
    position: realtive;
    bottom: 0;
    color: #c7c7c7;
    width: 100%;
    height: 50px;
    margin-top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #f5f5f5;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #eee;
    color: #777;
}

.navbar-brand {
    padding: 5px;
}

.menuimage {
    height: 40px;
}

.right-dropdown {
    margin-right: -15px;
}

.login-dropdown {
    padding: 10px;
    width: 250px;
}

.popover {
    width: 150px;
}

.title-image {
    height: 220px;
    -webkit-transition: all 50ms linear;
    -moz-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    -ms-transition: all 50ms linear;
    transition: all 50ms linear;
}

.avatar-big {
    height: 100px;
    background-color: darkgray;
    display: inline-block;
    margin-bottom: 17px;
}

.avatar {
    height: 50px;
    background-color: darkgray;
    display: inline-block;
}

.avatar-nav {
    height: 40px;
    margin-top: -14px;
    margin-bottom: -14px;
    margin-right: 10px;
    background-color: darkgray;
}

.img-circle {
    -webkit-transition: all 50ms linear;
    -moz-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    -ms-transition: all 50ms linear;
    transition: all 50ms linear;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.progress { 
    height: 2em;
}

.menuuser {
    width: 200px;
}

.non-select {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.table-nonfluid {
   width: auto !important;
}

.label-default {
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.label-success {
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.progress span {
    display: block;
    height: 100%;
    line-height: 2.3em;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    width: 100%;
}


.ng-invalid.ng-dirty {
    border-color: red;
    border-width: 1px;
}

.ng-valid.ng-dirty {
    border-color: green;
    border-width: 1px;
}

.smell-desc-txt {
    height: 100px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
    
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
    
/* Technical Debt Index Selector */

.idxtable {
    text-align: center;
}

.problabel {
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
      -ms-transform: rotate(-90.0deg);  /* IE9+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Safari 3.1+, Chrome */
          transform: rotate(-90.0deg);  /* Standard */
}

.implabel {
    height: 40px;
    vertical-align: middle;
}

.dbt-idx-ll { background-color: #5CBD5C; }
.dbt-idx-lm { background-color: #94D494; }
.dbt-idx-lh { background-color: #FFD685; }
.dbt-idx-ml { background-color: #94D494; }
.dbt-idx-mm { background-color: #FFD685; }
.dbt-idx-mh { background-color: #FFAF9B; }
.dbt-idx-hl { background-color: #FFD685; }
.dbt-idx-hm { background-color: #FFAF9B; }
.dbt-idx-hh { background-color: #FF8D70; }

/* End Technical Debt Index Selector */
    
    /* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}   
    
/* Bootstrap Tab Content */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    
    -moz-border-radius-bottomright: 5px;
    -webkit-border-radius-bottom-right: 5px;
    border-bottom-right-radius: 5px;
    -khtml-border-radius-bottomright: 5px;

    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-bottom-left: 5px;
    border-bottom-left-radius: 5px;
    -khtml-border-radius-bottomleft: 5px;
}

.nav-tabs {
    margin-bottom: 0;
}
    
/* Form File Input Button */
    
.input-group-btn ui-select {
    width: 100px;
}
    
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
    
/* Font sizes */
.font-size-large {
    font-size: 18px;
}
    
.taskprop-select {
    width: 200px;
}