<div>
    <div class="page-header">
        <h1>{{arversion.name}}<br/>
            <small>Architectural Refactoring Form</small>
        </h1>
    </div>
    <div name="arFormContainer">
    	<!-- The completness progressbar will be implemented in a future version of the ART.
        <p>
            Completeness:
            <progress><bar ng-repeat="bar in arCtrl.progStacked track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></bar></progress>
        </p>
        -->
        <form name="arForm" ng-submit="arForm.$valid && saveAr()" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <a class="btn btn-sm btn-primary" ng-click="$state.go('root.singlear',{id: arversion.arhead.id})">View AR</a>
                            <span class="pull-right">
                                <a class="btn btn-sm btn-warning" ng-click="$state.go('root.arbrowser')">Cancel</a>
                                <a class="btn btn-sm btn-info" ng-click="showJsonDiv=!showJsonDiv"><span ng-show="showJsonDiv">Hide</span><span ng-hide="showJsonDiv">Show</span> JSON</a>
                                <a class="btn btn-sm btn-primary" ng-click="arForm.$valid && saveAr()" ng-disabled="arForm.$invalid" uib-tooltip="Save AR"><span class="glyphicon glyphicon-floppy-disk"></span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-init="showJsonDiv=false" ng-if="showJsonDiv">
                <div class="col-md-12">
                    <pre>{{arversion | json}}</pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Name</h3>
                        </div>
                        <div class="panel-body">
                            <input class="form-control" placeholder="Name of the AR ..." title="name" id="name" ng-model="arversion.name" required autofocus></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Status</h3>
                        </div>
                        <div class="panel-body">
                            <ui-select ng-model="arversion.status" theme="bootstrap" ng-disabled="disabled" required>
                                <ui-select-match placeholder="Select or search a status in the list...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="stat in status | filter: $select.search">
                                    <span ng-bind-html="stat | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Context (viewpoint, refinement level, enterprise architecture)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <ui-select multiple ng-model="modelelementsvalues.context" theme="bootstrap">
                                    <ui-select-match placeholder="Select elements..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                    <ui-select-choices repeat="element as element in modelelements.context | propsFilter: {name: $select.search, link: $select.search}">
                                        <div ng-bind-html="element.name | highlight: $select.search"></div>
                                        <small ng-if="element.link">
                                            link: <span ng-bind-html="element.link | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn">
                                    <a ng-click="openPropModal('ContextElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group draglist" ui-sortable ng-model="modelelementsvalues.context" ng-show="modelelementsvalues.context.length > 1" uib-tooltip="Drag &amp; drop to change order">
                            <li class="list-group-item" ng-repeat="element in modelelementsvalues.context">{{element.name}}<div class="draghandle pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></div></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Quality attributes (forces)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <ui-select multiple ng-model="modelelementsvalues.qas" theme="bootstrap">
                                    <ui-select-match placeholder="Select elements..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                    <ui-select-choices repeat="element as element in modelelements.qas | propsFilter: {name: $select.search, link: $select.search}">
                                        <div ng-bind-html="element.name | highlight: $select.search"></div>
                                        <small ng-if="element.link">
                                            link: <span ng-bind-html="element.link | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn">
                                    <a ng-click="openPropModal('QASElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group draglist" ui-sortable ng-model="modelelementsvalues.qas" ng-show="modelelementsvalues.qas.length > 1" uib-tooltip="Drag &amp; drop to change order">
                            <li class="list-group-item" ng-repeat="element in modelelementsvalues.qas">{{element.name}}<div class="draghandle pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Smells (refactoring drivers)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <ui-select multiple ng-model="arversion.smells" theme="bootstrap">
                                    <ui-select-match placeholder="Select smells...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="element as element in smells | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="element.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn">
                                    <a ng-click="openSmellModal()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group draglist" ui-sortable ng-model="arversion.smells" ng-show="arversion.smells.length > 1" uib-tooltip="Drag &amp; drop to change order">
                            <li class="list-group-item" ng-repeat="element in arversion.smells">{{element.name}}<div class="draghandle pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Description (max. length 10'000)</h3>
                        </div>
                        <div class="panel-body">
                            <text-angular name="ardescription" ng-model="arversion.description" ta-max-text="10000"></text-angular>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Architectural decision(s) to be revisited</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <ui-select multiple ng-model="modelelementsvalues.decisions" theme="bootstrap">
                                    <ui-select-match placeholder="Select elements..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                    <ui-select-choices repeat="element as element in modelelements.decisions | propsFilter: {name: $select.search, link: $select.search}">
                                        <div ng-bind-html="element.name | highlight: $select.search"></div>
                                        <small ng-if="element.link">
                                            link: <span ng-bind-html="element.link | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn">
                                    <a ng-click="openPropModal('DecisionElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group draglist" ui-sortable ng-model="modelelementsvalues.decisions" ng-show="modelelementsvalues.decisions.length > 1" uib-tooltip="Drag &amp; drop to change order">
                            <li class="list-group-item" ng-repeat="element in modelelementsvalues.decisions">{{element.name}}<div class="draghandle pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></div></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Affected components and connectors (if modelled explicitly)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <ui-select multiple ng-model="modelelementsvalues.components" theme="bootstrap">
                                    <ui-select-match placeholder="Select elements..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                    <ui-select-choices repeat="element as element in modelelements.components | propsFilter: {name: $select.search, link: $select.search}">
                                        <div ng-bind-html="element.name | highlight: $select.search"></div>
                                        <small ng-if="element.link">
                                            link: <span ng-bind-html="element.link | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn">
                                    <a ng-click="openPropModal('ComponentElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group draglist" ui-sortable ng-model="modelelementsvalues.components" ng-show="modelelementsvalues.components.length > 1" uib-tooltip="Drag &amp; drop to change order">
                            <li class="list-group-item" ng-repeat="element in modelelementsvalues.components">{{element.name}}<div class="draghandle pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Execution tasks</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <ui-select multiple ng-model="arversion.tasks" theme="bootstrap">
                                    <ui-select-match placeholder="Select tasks...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="element as element in tasks | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="element.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn">
                                    <a ng-click="openTaskModal()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group draglist" ui-sortable ng-model="arversion.tasks" ng-show="arversion.tasks.length > 1" uib-tooltip="Drag &amp; drop to change order">
                            <li class="list-group-item" ng-repeat="element in arversion.tasks">{{element.name}}<span>&nbsp;::&nbsp;{{ getType(element.properties) }}</span><div class="draghandle pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">References (links)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <ui-select multiple ng-model="modelelementsvalues.references" theme="bootstrap">
                                    <ui-select-match placeholder="Select references..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                    <ui-select-choices repeat="element as element in modelelements.references | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="element.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn">
                                    <a ng-click="openPropModal('ReferenceElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group draglist" ui-sortable ng-model="modelelementsvalues.references" ng-show="modelelementsvalues.references.length > 1" uib-tooltip="Drag &amp; drop to change order">
                            <li class="list-group-item" ng-repeat="element in modelelementsvalues.references">{{element.name}}<div class="draghandle pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <a class="btn btn-sm btn-primary" ng-click="$state.go('root.singlear',{id: arversion.arhead.id})">View AR</a>
                            <span class="pull-right">
                                <a class="btn btn-sm btn-warning" ng-click="$state.go('root.arbrowser')">Cancel</a>
                                <a class="btn btn-sm btn-info" ng-click="showJsonDiv2=!showJsonDiv2"><span ng-show="showJsonDiv2">Hide</span><span ng-hide="showJsonDiv2">Show</span> JSON</a>
                                <button type="submit" class="btn btn-sm btn-primary" ng-disabled="arForm.$invalid" uib-tooltip="Save AR"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-init="showJsonDiv=false" ng-if="showJsonDiv2">
        <div class="col-md-12">
            <pre>{{arversion | json}}</pre>
        </div>
    </div>
</div>
