<div>
    <div class="page-header">
        <h1>{{arversion.name}}<br/>
            <small>Architectural Refactoring Form</small>
            <a class="btn btn-sm btn-primary pull-right" ng-if="isAllowed.check(['Admin'])" ng-click="$state.go('root.singlear',{id: arversion.arhead.id})">View AR</a>
        </h1>
    </div>
    <div name="arFormContainer">
    	<!-- The completness progressbar will be implemented in a future version of the ART.
        <p>
            Completeness:
            <progress><bar ng-repeat="bar in arCtrl.progStacked track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></bar></progress>
        </p>
        -->
        <form name="arForm" ng-submit="arForm.$valid && saveAr()" novalidate>
            <div class="row">
                <div class="col-md-8">
                    <fieldset class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" placeholder="Name of the AR ..." title="name" id="name" ng-model="arversion.name" required></input>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label for="group">Status</label>
                        <ui-select ng-model="arversion.status" theme="bootstrap" ng-disabled="disabled" required>
                            <ui-select-match placeholder="Select or search a status in the list...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="stat in status | filter: $select.search">
                                <span ng-bind-html="stat | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="context_attr">Context (viewpoint, refinement level, enterprise architecture):</label>
                        <div class="input-group">
                            <ui-select multiple ng-model="modelelementsvalues.context" theme="bootstrap">
                                <ui-select-match placeholder="Select elements..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                <ui-select-choices repeat="element as element in modelelements.context | propsFilter: {name: $select.search, link: $select.search}">
                                    <div ng-bind-html="element.name | highlight: $select.search"></div>
                                    <small ng-if="element.link">
                                        link: <span ng-bind-html="element.link | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            <div class="input-group-btn">
                                <a ng-click="openPropModal('ContextElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="quality_attr">Quality attributes and stories (forces):</label>
                        <div class="input-group">
                            <ui-select multiple ng-model="modelelementsvalues.qas" theme="bootstrap">
                                <ui-select-match placeholder="Select elements..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                <ui-select-choices repeat="element as element in modelelements.qas | propsFilter: {name: $select.search, link: $select.search}">
                                    <div ng-bind-html="element.name | highlight: $select.search"></div>
                                    <small ng-if="element.link">
                                        link: <span ng-bind-html="element.link | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            <div class="input-group-btn">
                                <a ng-click="openPropModal('QASElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="context_attr">Smells (refactoring drivers):</label>
                        <div class="input-group">
                            <ui-select multiple ng-model="arversion.smells" theme="bootstrap">
                                <ui-select-match placeholder="Select smells...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="element as element in smells | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="element.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div class="input-group-btn">
                                <a ng-click="openSmellModal()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description (max. length 10'000)</label>
                        <text-angular name="ardescription" ng-model="arversion.description" ta-max-text="10000"></text-angular>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="context_attr">Architectural decision(s) to be revisited:</label>
                        <div class="input-group">
                            <ui-select multiple ng-model="modelelementsvalues.decisions" theme="bootstrap">
                                <ui-select-match placeholder="Select elements..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                <ui-select-choices repeat="element as element in modelelements.decisions | propsFilter: {name: $select.search, link: $select.search}">
                                    <div ng-bind-html="element.name | highlight: $select.search"></div>
                                    <small ng-if="element.link">
                                        link: <span ng-bind-html="element.link | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            <div class="input-group-btn">
                                <a ng-click="openPropModal('DecisionElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="context_attr">Affected components and connectors (if modelled explicitly):</label>
                        <div class="input-group">
                            <ui-select multiple ng-model="modelelementsvalues.components" theme="bootstrap">
                                <ui-select-match placeholder="Select elements..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                <ui-select-choices repeat="element as element in modelelements.components | propsFilter: {name: $select.search, link: $select.search}">
                                    <div ng-bind-html="element.name | highlight: $select.search"></div>
                                    <small ng-if="element.link">
                                        link: <span ng-bind-html="element.link | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            <div class="input-group-btn">
                                <a ng-click="openPropModal('ComponentElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="context_attr">Execution tasks:</label>
                        <div class="input-group">
                            <ui-select multiple ng-model="arversion.tasks" theme="bootstrap">
                                <ui-select-match placeholder="Select tasks...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="element as element in tasks | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="element.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div class="input-group-btn">
                                <a ng-click="openTaskModal()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="context_attr">References (links):</label>
                        <div class="input-group">
                            <ui-select multiple ng-model="modelelementsvalues.references" theme="bootstrap">
                                <ui-select-match placeholder="Select references..."><a href="{{$item.link}}" target="_blank" ng-show="$item.link">{{$item.name}}</a><span ng-hide="$item.link">{{$item.name}}</span></ui-select-match>
                                <ui-select-choices repeat="element as element in modelelements.references | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="element.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div class="input-group-btn">
                                <a ng-click="openPropModal('ReferenceElementLink')" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset class="form-group pull-right">
                <a class="btn btn-warning" ng-click="$state.go('root.arbrowser')">Cancel</a>
                <a class="btn btn-info" ng-show="isAllowed.check(['Admin','Editor'])" ng-click="showJsonDiv=!showJsonDiv"><span ng-show="showJsonDiv">Hide</span><span ng-hide="showJsonDiv">Show</span> JSON</a>
                <button type="submit" class="btn btn-primary" ng-disabled="arForm.$invalid">Save AR</button>
            </fieldset>
        </form>
    </div>
    <div class="row" ng-init="showJsonDiv=false" ng-if="showJsonDiv">
        <div class="col-md-12">
            <pre>{{arversion | json}}</pre>
        </div>
    </div>
</div>
