<div>
    <form name="loginform" class="loginform" ng-submit="login(loginform)" novalidate>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" ng-model="logindata.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="logindata.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input type="checkbox" ng-checked="logindata.keeploggedin" type="keeploggedin" id="inputKeepLoggedIn" value="{{logindata.keeploggedin}}" />
            <label for="inputKeepLoggedIn"></label> Keep Logged in
        </div>
        <p></p>
        <a ui-sref="root.register">Register</a><button class="btn btn-lg btn-primary btn-sm btn-block" type="submit">Sign in</button>
    </form>
</div>