<div class="modal-header">
    <h1>{{modelelement.type}} Dialog</h1>
</div>
<div class="modal-body">
    <form name="modelElementForm" ng-submit="modelElementForm.$valid && saveModelElement(modelElementForm)" novalidate>
        <fieldset class="form-group">
            <label for="name">Name</label>
            <input class="form-control" placeholder="Name for model element..." title="name" id="name" ng-model="modelelement.name" required></input>
        </fieldset>
        <fieldset class="form-group">
            <label for="keywords">Link</label>
            <input class="form-control" placeholder="Link to reference..." title="link" id="link" ng-model="modelelement.link"></input>
        </fieldset>
        <fieldset class="form-group">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" ng-disabled="modelElementForm.$invalid">Save Model Element</button>
                <button type="button" class="btn btn-warning" ng-click="dismiss()">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>