<div>
    <div>
        <div class="page-header">
            <h1>Smell View<br/>
                <small>{{smell.name}}</small>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Modified</h3>
                                <span>{{smell.modified | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Created</h3>
                                <span>{{smell.created | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Cloud weight</h3>
                                <span>{{smell.weight}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Keywords</h3>
                    </div>
                    <div class="panel-body">{{smell.keywords}}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Group</h3>
                    </div>
                    <div class="panel-body">{{smell.group.name}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Status</h3>
                        <span>{{smell.status}}</span>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Technical Debt Risk Index</h3>
                    </div>
                    <div class="panel-body">
                        <table class="idxtable">
                            <tr>
                                <td id="problabel" class="problabel" rowspan="3">Probability</td>
                                <td>h&nbsp;</td>
                                <td ng-repeat="n in ['lh','mh','hh']">
                                    <label class="btn btn-default dbt-idx-{{n}}">
                                        <input type="radio" name="tecdebtidx" ng-model="smell.tecdebtidx" ng-value="n" disabled/>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>m&nbsp;</td>
                                <td ng-repeat="n in ['lm','mm','hm']">
                                    <label class="btn btn-default dbt-idx-{{n}}">
                                        <input type="radio" name="tecdebtidx" ng-model="smell.tecdebtidx" ng-value="n" disabled/>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>l&nbsp;</td>
                                <td ng-repeat="n in ['ll','ml','hl']">
                                    <label class="btn btn-default dbt-idx-{{n}}">
                                        <input type="radio" name="tecdebtidx" ng-model="smell.tecdebtidx" ng-value="n" disabled/>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td ng-repeat="n in ['l','m','h']">{{n}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="implabel" colspan="3">Impact</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body" ng-bind-html="smell.description"></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Questions</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="question in smell.questions">{{question.question}}</li>
            </ul>
        </div>
        <div>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="smellForm.$invalid" ng-click="$state.go('smellbrowser.edit',{id: smell.id})" ng-show="isAllowed.check(['Admin','Editor'])">Edit Smell</button>
        </div>
    </div>
    <!-- div ui-view="discussionView"></div -->
</div>