<div ng-controller="TaskViewController as taskCtrl">
    <div>
        <div class="page-header">
            <h1>{{task.name}}<br/>
                <small>Task View</small>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-sm btn-primary" ng-href="{{ _contextPath + 'task/pdf/' + task.id}}" uib-tooltip="Download Smell as PDF"><span class="glyphicon glyphicon-file"></span></a>
                        <p class="pull-right" ng-if="isAllowed.check(['Admin','Editor'])">
                            <a class="btn btn-sm btn-primary" ng-click="$state.go('root.taskbrowser.edit',{id: task.id})" uib-tooltip="Edit Task"><span class="glyphicon glyphicon-pencil"></span></a>
                            <!-- a class="btn btn-sm btn-primary" ng-click="cloneTask(task.id})">Clone Task</a -->
                            <a class="btn btn-sm btn-danger" ng-if="isAllowed.check(['Admin'])" ng-click="deleteTask(task.id)" uib-tooltip="Delete this Task"><span class="glyphicon glyphicon-trash"></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Properties</h3>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="prop in task.properties">
                            <h4 class="list-group-item-heading">{{prop.property.name}}</h4>
                            <p class="list-group-item-text" ng-bind-html="prop.value"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-sm btn-primary" ng-href="{{ _contextPath + 'task/pdf/' + task.id}}" uib-tooltip="Download Smell as PDF"><span class="glyphicon glyphicon-file"></span></a>
                        <p class="pull-right" ng-if="isAllowed.check(['Admin','Editor'])">
                            <a class="btn btn-sm btn-primary" ng-click="$state.go('root.taskbrowser.edit',{id: task.id})" uib-tooltip="Edit Task"><span class="glyphicon glyphicon-pencil"></span></a>
                            <!-- a class="btn btn-sm btn-primary" ng-click="cloneTask(task.id})">Clone Task</a -->
                            <a class="btn btn-sm btn-danger" ng-if="isAllowed.check(['Admin'])" ng-click="deleteTask(task.id)" uib-tooltip="Delete this Task"><span class="glyphicon glyphicon-trash"></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <!-- div ui-view="discussionView"></div -->
</div>