<div ng-controller="TaskViewController as taskCtrl">
    <div>
        <div class="page-header">
            <h1>Task View<br/>
                <small>{{task.name}}</small>
            </h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Properties</h3>
            </div>
            <div class="panel-body">
                <div class="list-group" ng-repeat="prop in task.properties">
                    <h4 class="list-group-item-heading">{{prop.property.name}}</h4>
                    <p class="list-group-item-text">{{prop.value}}</p>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-primary pull-right" ng-click="$state.go('root.taskbrowser.edit',{id: task.id})" ng-show="isAllowed.check(['Admin','Editor'])">Edit Task</a>
        </div>
    </div>
    <!-- div ui-view="discussionView"></div -->
</div>