<div ng-controller="ArViewController as arViewCtrl">
    <div>
        <div class="page-header">
            <h1>Architectural Refactoring View<br/>
                <small>{{ar.name}}</small>
            </h1>
        </div>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-class="{active:currentar.id == arversion.id}" ng-repeat="arversion in ar.versions track by $index"><a href ng-click="setCurrentAr($index)">Version<br/>{{arversion.created | date:'yyyy-MM-dd HH:mm:ss'}}</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab">{{currentar.name}} {{currentar.created}}</div>
        <div ui-view="discussionView"></div>
    </div>
</div>