<div ng-controller="SmellAssessController as smellACtrl">
    <div class="page-header">
        <h1>Smell Self-Assessment <small>Refactoring Qualification</small></h1>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2>Questionnaire</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Instructions</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="affix">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Found <span class="label label-default" hilighter="counter">{{counter}}</span> Architectural Refactorings</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form role="form">
                <div class="panel panel-default" ng-repeat="group in groups track by $index" ng-init="groupToggle[$index] = false">
                    <div class="panel-heading">
                        <b>{{group.name}}</b> <div class="pull-right"><a href ng-click="groupToggle[$index] = !groupToggle[$index]"><span class="glyphicon glyphicon-chevron-down" ng-hide="groupToggle[$index]"></span><span class="glyphicon glyphicon-chevron-up" ng-show="groupToggle[$index]"></span></a></div>
                    </div>
                    <div class="panel-body" ng-show="groupToggle[$index]">
                        <div ng-repeat="smell in group.smells">
                            <div ng-repeat="question in smell.questions" class="row row-same-height">
                                <div class="col-md-1 col-md-height">
                                    <div class="checkbox checkbox-success">
                                        <input 
                                               type="checkbox"
                                               name="selected[]"
                                               value="{{smell.id}}"
                                               ng-checked="selectedSmells.smellids.indexOf(smell.id) > -1"
                                               ng-click="toggleSelection(smell.id)"
                                               id="question-{{question.id}}" />
                                        <label for="question-{{question.id}}"></label>
                                    </div>
                                </div>
                                <div class="col-md-11 col-md-height vcenter">
                                    {{ question.question }}
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="reset" class="btn btn-warning" ng-click="resetForm()" >Clear Questionnaire</button>&nbsp;
                    <button type="submit" class="btn btn-primary" ng-click="executeSearch()">Show ARs</button>
                </div>
            </form>
        </div>
    </div>
</div>