<div>
    <div class="page-header">
        <h1>Smell Self-Assessment <small>Refactoring Qualification</small></h1>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2>Questionnaire</h2>
            <div class="pull-right">
                <p>
                    <a class="btn btn-primary btn-sm" ng-click="groupToggleAll()"><span ng-show="groupAllshow">Hide</span><span ng-hide="groupAllshow">Show</span> all questions</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Instructions</h3>
                </div>
                <div class="panel-body">
                    The Smell Self-Assessment is a useful tool to find solutions to deficiencies concering your own software systems. Tick all questions which you can answer with yes to find matching Architectural Refactorings. If logged in, it is possible to save the excuted search in your user profile.
                </div>
            </div>
            <div class="panel panel-default affix">
                <div class="panel-heading">
                    <h3 class="panel-title">Found <span class="label label-default" hilighter="counter">{{counter}}</span> Architectural Refactorings:</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="ar in arlist"><a ui-sref="root.singlear({id: ar.arhead.id})" uib-tooltip="{{ar.name}}">{{ar.name | limit: 45}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <form role="form">
                <div class="panel panel-default" ng-repeat="group in groups track by $index" ng-init="groupToggle[$index] = false">
                    <div class="panel-heading clearfix">
                        <span class="h3 panel-title">{{group.name}}</span> 
                        <span class="pull-right">
                            <a class="btn btn-sm btn-default" ng-init="groupAllCheck[$index] = false" ng-click="toggleGroupSelect($index)"><span class="glyphicon glyphicon-unchecked" ng-hide="groupAllCheck[$index]" uib-tooltip="Select all group items"/><span class="glyphicon glyphicon-check" ng-show="groupAllCheck[$index]" uib-tooltip="Deselect all group items"/></a>
                            <a class="btn btn-sm btn-default" ng-click="groupToggle[$index] = !groupToggle[$index]"><span class="glyphicon glyphicon-chevron-down" ng-hide="groupToggle[$index]" uib-tooltip="Show all group items"/><span class="glyphicon glyphicon-chevron-up" ng-show="groupToggle[$index]" uib-tooltip="Hide all group items"/></a>
                        </span>
                    </div>
                    <div class="panel-body" ng-show="groupToggle[$index]">
                        <div ng-repeat="smell in group.smells" ng-if="isAllowed.check(['Admin','Editor']) || smell.status == 'published'">
                            <div ng-repeat="question in smell.questions" class="row row-same-height">
                                <div class="col-md-1 col-md-height">
                                    <div class="checkbox checkbox-success">
                                        <input 
                                               type="checkbox"
                                               name="selected[]"
                                               value="{{smell.id}}"
                                               ng-checked="selectedSmells.smellids.indexOf(smell.id) > -1"
                                               ng-click="toggleSelection(smell.id)"
                                               id="question-{{question.id}}" />
                                        <label for="question-{{question.id}}"></label>
                                    </div>
                                </div>
                                <div class="col-md-11 col-md-height vcenter">
                                    {{ question.question }}
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="pull-right">
                    <a type="reset" class="btn btn-warning" ng-click="resetForm()" >Clear Questionnaire</a>&nbsp;
                    <button type="submit" class="btn btn-primary" ng-click="executeSearch()" ng-disabled="selectedSmells.smellids.length === 0">Show ARs</button>
                </div>
            </form>
        </div>
    </div>
</div>