<div class="modal-header">
    <h1>Smell Dialog</h1>
</div>
<div class="modal-body">
    <form name="smellForm" ng-submit="smellForm.$valid && saveSmell(smellForm)" novalidate>
        <div class="row">
            <div class="col-md-7">
                <fieldset class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" placeholder="Smell name..." title="name" id="name" ng-model="smell.name" required></input>
                </fieldset>
                <fieldset class="form-group">
                    <label for="keywords">Keywords</label>
                    <input class="form-control" placeholder="Keywords to search for a Smell..." title="keywords" id="keywords" ng-model="smell.keywords" required></input>
                </fieldset>
                <fieldset class="form-group">
                    <label for="question">Questions</label>                    
                    <div class="input-group">
                        <input class="form-control" type="text" id="question" ng-model="questionToAdd" placeholder="Question..."></input>
                        <span class="input-group-btn">
                            <a class="btn btn-primary" ng-click="questionToAdd !== '' && addQuestion()">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </span>
                    </div>
                    <div class="input-group" ng-repeat="question in smell.questions track by $index">
                        <input class="form-control" type="text" ng-model="question.question" readonly required></input>
                        <span class="input-group-btn">
                            <a class="btn btn-warning" ng-click="removeQuestion($index)">
                                <i class="glyphicon glyphicon-minus"></i>
                            </a>
                        </span>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-5">
                <fieldset class="form-group">
                    <label for="group">Status</label>
                    <ui-select ng-model="smell.status" theme="selectize" ng-disabled="disabled" required>
                        <ui-select-match placeholder="Select or search a status in the list...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="stat in status | filter: $select.search">
                            <span ng-bind-html="stat | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="group">Group</label>
                    <ui-select ng-model="smell.group" theme="selectize" ng-disabled="disabled" required>
                        <ui-select-match placeholder="Select or search a group in the list...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="group in groups | filter: $select.search">
                            <span ng-bind-html="group.name | highlight: $select.search"></span>
                            <!-- small ng-bind-html="country.code | highlight: $select.search"></small -->
                        </ui-select-choices>
                    </ui-select>
                </fieldset>
                <fieldset class="form-group">
                    <label>Technical Debt Risk Index</label>
                    <table class="idxtable">
                        <tr>
                            <td id="problabel" class="problabel" rowspan="3">Probability</td>
                            <td>h&nbsp;</td>
                            <td ng-repeat="n in ['lh','mh','hh']">
                                <label class="btn btn-default dbt-idx-{{n}}">
                                    <input type="radio" name="tecdebtidx" ng-model="smell.tecdebtidx" ng-value="n" required/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>m&nbsp;</td>
                            <td ng-repeat="n in ['lm','mm','hm']">
                                <label class="btn btn-default dbt-idx-{{n}}">
                                    <input type="radio" name="tecdebtidx" ng-model="smell.tecdebtidx" ng-value="n" required/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>l&nbsp;</td>
                            <td ng-repeat="n in ['ll','ml','hl']">
                                <label class="btn btn-default dbt-idx-{{n}}">
                                    <input type="radio" name="tecdebtidx" ng-model="smell.tecdebtidx" ng-value="n" required/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td ng-repeat="n in ['l','m','h']">{{n}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="implabel" colspan="3">Impact</td>
                        </tr>
                    </table>
                    <!-- select class="form-control" ng-model="smellCtrl.smell.tecdebtidx" ng-options="group.id as group.name for group in smellCtrl.groups" title="tecdebtidx" id="tecdebtidx" required></select -->
                </fieldset>
            </div>
        </div>
        <fieldset class="form-group">
            <label for="description">Description</label>
            <text-angular name="smelldescription" ng-model="smell.description" required></text-angular>
        </fieldset>
        <fieldset class="form-group">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" ng-disabled="smellForm.$invalid">Save Smell</button>
                <button type="button" class="btn btn-warning" ng-click="$stateParams.cancel()">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>