<div class="modal-header">
    <h1>Edit Task</h1>
</div>'
<div class="modal-body">
            {{singleTask}}
            <form name="taskForm" ng-submit="taskForm.$valid && updateTask(taskForm)" novalidate>
    			<div class="row">
	    			<div class="col-md-7">
		                <fieldset class="form-group">
		                    <label for="name">Name</label>
		                    <input class="form-control" placeholder="Name of the Task..." title="name" id="name" ng-model="singleTask.name" required></input>
		                </fieldset>
	            	</div>
            		<div class="col-md-5">
                        <fieldset class="form-group">
                            <label>Execution Task Type</label>
                            <span ng-bind-html="exectasktypes"></span>
                        </fieldset>
            		</div>
            	</div>
                <fieldset class="form-group">
                    {{propertyToAdd}}
                    <label for="property">Properties</label> 
                        <div class="input-group">
                          <div class="input-group-btn taskprop-select">
			                <ui-select ng-model="propertyToAdd.property" theme="selectize" ng-disabled="disabled">
			                    <ui-select-match placeholder="Property type...">{{$select.selected.name}}</ui-select-match>
			                    <ui-select-choices repeat="taskproperty in taskproperties | filter: $select.search">
			                        <span ng-bind-html="taskproperty.name | highlight: $select.search"></span>
			                    </ui-select-choices>
			                </ui-select>
                          </div><!-- /btn-group -->
                          <input type="text" class="form-control" ng-model="propertyToAdd.value" aria-label="..." placeholder="Value...">
                            <span class="input-group-btn">
                            <a class="btn btn-primary" ng-click="propertyToAdd.property != null && propertyToAdd.value != null && addProperty()" ng-disabled="propertyToAdd.property == null || propertyToAdd.value == null">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </span>
                    </div><!-- /input-group -->
                    
                    <div class="input-group" ng-repeat="property in singleTask.properties track by $index">
                        <input class="form-control" type="text" value="{{property.property.name + ' : ' + property.value}}" readonly required></input>
                        <span class="input-group-btn">
                            <a class="btn btn-warning" ng-click="removeProperty($index)">
                                <i class="glyphicon glyphicon-minus"></i>
                            </a>
                        </span>
                    </div>
                </fieldset>

            <fieldset class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-disabled="taskUpdateForm.$invalid">Save Task</button>
                    <button type="button" class="btn btn-warning" ng-click="$stateParams.cancel()">Cancel</button>
                </div>
            </fieldset>
		</form>
</div>