@(activeProfile: String)
<!DOCTYPE html>
<html lang="de" ng-app="art">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="@routes.Assets.at("images/favicon.ico")">
        <title>Architectural Refactoring Tool</title>
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/select.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/selectize.default.css")" rel="stylesheet" >
        <link href="@routes.Assets.at("stylesheets/jqcloud.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/ngNotificationsBar.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/tree.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/textAngular.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/awesome-bootstrap-checkbox.css")" rel="stylesheet">
        <script type="text/javascript">
            var _contextPath = "@routes.Assets.at("")";
            var activeProfile = "@activeProfile";
        </script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>

        <div class="container" ng-controller="MenuController as menuCtrl">

            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li ng-repeat="menui in menuItems" class="menuItem" ng-switch on="menui.type" ng-if="menui.pos === 'left'" ng-class="{dropdown:menui.type === 'dropdown', active:$state.is(menui.name)}">
                                <a ng-switch-when="dropdown" class="dropdown-toggle" data-toggle="dropdown" title="{{menui.tooltip}}" role="button" aria-expanded="false">{{menui.fullname}} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" ng-switch-when="dropdown">
                                    <li ng-repeat="submenui in menui.subItems"><a ui-sref="{{submenui.name}}" title="{{submenui.tooltip}}" >{{submenui.fullname}}</a></li>
                                </ul>
                                <a ng-switch-when="home" class="homeitem" title="{{menui.tooltip}}" ui-sref="{{menui.name}}"><img ng-src="{{menui.image}}" class="menuimage img-responsive center-block" /></a>
                                <!-- a href ng-switch-default ng-click="setMenu(menui.name)" title="{{menui.tooltip}}">{{menui.fullname}}</a-->
                                <a ng-switch-default ui-sref="{{menui.name}}" title="{{menui.tooltip}}">{{menui.fullname}}</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-controller="UserController as userCtrl">
                            <li ng-show="isLoggedin()" class="menuItem menuuser" ng-class="{active:$state.is('profile')}"><a ui-sref="profile"><img ng-src="{{currentUser.profile.avatar}}" class="avatar img-circle" /> {{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</a></li>
                            <li ng-hide="isLoggedin()" class="menuItem dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" title="Login" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                                <ul class="dropdown-menu login-dropdown" role="menu">
                                    <li><div ng-include="_contextPath + 'login.html'"></div></li>
                                </ul>
                            </li>
                            <li ng-show="isLoggedin()" class="menuItem"><a href ng-click="logout()">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
            </nav>
            
            <div ui-view></div>
            <!-- div ng-include="_contextPath + menuItem"></div -->

        </div> <!-- /container -->
        <notifications-bar class="notifications"></notifications-bar>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/jquery-1.11.2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/angular.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/angular-resource.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/angular-sanitize.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/angular-ui-router.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/mockdata.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/factories.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/config.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/filterdirectives.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/jqcloud.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/textAngular-rangy.min.js")"></script>
    <!-- script type="text/javascript" src="@routes.Assets.at("javascripts/libs/textAngular-sanitize.min.js")"></script -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/textAngular.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/select.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/angular-jqcloud.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/ui-bootstrap-tpls-0.12.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/ngNotificationsBar.min.js")"></script>
    </body>
</html>